* {
    margin: 0;
    padding: 0;
    background-color: #f5f6f7
    
}

label {
    font-size: 0.8em;
    font-weight: bold;
}

div{
    margin: 5px;
}

header {
    color: #2db400;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

section {
    background-color: #f5f6f7;
    width: 400px;
    margin-left: 430px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: visible;
    
}

section #id1 input[type=text],
section #id2 input[type=text],
section #id3 input[type=text],
section #id4 input[type=text],
section #id5 input[type=text],
section #id6 input[type=text],
section #id7 input[type=text], 
section input[type=password]
 {
    width: 370px;
    padding: 10px;
    background-color: white;
    border: solid 0.2px ;
}

#id1 input[type=text] {
    text-align: right;
}

#id5 select {
    width: 120px;
    padding: 10px;
    background-color: white;
    border: solid 0.2px ;
}

#id5_1,#id5_2,#id5_3 {
    width: 30%;
    margin-left: 5px;
    margin-right: 7px;
    list-style: none;
    float: left;
    overflow: hidden;
}

#id6 select {
    width: 390px;
    padding: 10px;
    background-color: white;
    border: solid 0.2px ;
}

#id8 select {
    width: 390px;
    padding: 10px;
    background-color: white;
    border: solid 0.2px ;
}

.reduce_size {
    float: left;
    width: 240px;
    padding: 10px;
    background-color: white;
    border: solid 0.2px ;
}

#box1 {
    float: right;
    width: 30%;
    height: 36px;

    background-color: #2db400;
    border: solid 0.2px ;

    margin-right: -10px;
    margin-bottom: 10px;

    color: white;
    text-align: center;
    line-height: 35px;
}

.blanc {
    width: 370px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border: solid 0.2px ;
}

#box2 {
    background-color: #2db400;
    border: solid 0.2px ;
    width: 370px;
    padding: 10px;
    margin: 10px;

    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
}